# Types

We have seen that Python objects have a 'type':

In [1]:
type(5)

int

## Floats and integers

Python has two core numeric types, `int` for integer, and `float` for real number.

In [2]:
one = 1
ten = 10
one_float = 1.0
ten_float = 10.

In [3]:
tenth = one_float / ten_float

In [4]:
tenth

0.1

In [5]:
one // ten

0

In [6]:
2 + 3

5

In [7]:
"Hello " + "World"

'Hello World'

With integers, we can be clear about what we want: divide an integer by an integer and return another integer, or divide an integer by an integer and return a floating point. Most other languages do not afford that kind of distinction! It can lead to hard-to-find bugs.

In [8]:
print(one // ten, one / ten)

0 0.1

In [9]:
print(type(one // ten), type(one / tenth))

<class 'int'> <class 'float'>

The divided by operator `/` means divide by for real numbers. Whereas `//` means divide by integers for integers, and divide by floats for floats

In [10]:
10 // 3

3

In [11]:
10 / 3

3.3333333333333335

In [12]:
10 // 3.0

3.0

In [13]:
str(5)

'5'

In [14]:
10 / float(3)

3.3333333333333335

In [15]:
x = 5

In [16]:
str(x)

'5'

In [17]:
x = "5.2"

int(float(x))

5

I lied when I said that the `float` type was a real number. It's actually a computer representation of a real number
called a "floating point number". Representing $\sqrt 2$ or $\frac{1}{3}$ perfectly would be impossible in a computer, so we use a finite amount of memory to do it.

*Supplementary material*:

* [Python and floating point](https://docs.python.org/3.6/tutorial/floatingpoint.html)
* [Floating point guide](http://floating-point-gui.de/formats/fp/)
* Advanced: [What Every Computer Scientist Should Know About Floating-Point Arithmetic](http://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html)

## Strings

Python has a built in `string` type, supporting many
useful methods.

In [18]:
given = "James"
family = "Hetherington"
full = given + " " + family

So `+` for strings means "join them together" - *concatenate*.

In [19]:
print(full.upper())

JAMES HETHERINGTON

In [20]:
2 * 4

8

As for `float` and `int`, the name of a type can be used as a function to convert between types:

In [21]:
ten

10

In [22]:
one

1

In [23]:
type(ten)

int

In [24]:
print(ten + one)

11

In [25]:
print(float(str(ten) + str(one)))

101.0

We can remove extraneous material from the start and end of a string:

In [26]:
5

5

In [27]:
"    Hello  ".strip()

'Hello'

## Lists

Python's basic **container** type is the `list`

We can define our own list with square brackets:

In [28]:
[1, 3, 7]

[1, 3, 7]

In [29]:
type([1, 3, 7])

list

Lists *do not* have to contain just one type:

In [30]:
various_things = [1, 2, "banana", 3.4, [1,2] ]

We access an **element** of a list with an `int` in square brackets:

In [31]:
one = 1
two = 2
three = 3

In [32]:
my_new_list = [one, two, three]

In [33]:
middle_value_in_list = my_new_list[1]

In [34]:
middle_value_in_list

2

In [35]:
[1,2,3][1]

2

In [36]:
various_things[2]

'banana'

In [37]:
index = 2
various_things[index]

'banana'

Note that list indices start from zero.

We can quickly make a list with numbers counted up:

In [38]:
count_to_five = list(range(5))
print(count_to_five)

[0, 1, 2, 3, 4]

We can use a string to join together a list of strings:

In [39]:
name = ["James", "Philip", "John", "Hetherington"]
print(" -> ".join(name))

James -> Philip -> John -> Hetherington

And we can split up a string into a list:

In [40]:
"Ernst Stavro Blofeld".split("o")

['Ernst Stavr', ' Bl', 'feld']

We can an item to a list:

In [41]:
name.append("Jr")
print(name)

['James', 'Philip', 'John', 'Hetherington', 'Jr']

Or we can add more than one:

In [42]:
name.extend(["the", "third"])
print(name)

['James', 'Philip', 'John', 'Hetherington', 'Jr', 'the', 'third']

## Sequences

Many other things can be treated like `lists`. Python calls things that can be treated like lists `sequences`.

A string is one such *sequence type*

In [43]:
print(count_to_five[1])
print("James"[2])

1
m

In [44]:
print(count_to_five[1:3])
print("Hello World"[4:8])

[1, 2]
o Wo

In [45]:
print(len(various_things))
print(len("Python"))

5
6

In [46]:
len([[1, 2], 4])

2

In [47]:
print("John" in name)
print(9 in count_to_five)

True
False

## Unpacking

Multiple values can be **unpacked** when assigning from sequences, like dealing out decks of cards.

In [48]:
mylist = ['Goodbye', 'Cruel']
a, b = mylist
print(a)

Goodbye

In [49]:
a = mylist[0]
b = mylist[1]